<?xml version="1.0" encoding="utf-8"?>

<categoryStructure>    
        <pair parameter="fov" value="30"> </pair>

        <pair parameter="smoothing" value="1"> </pair>

        <pair parameter="q" value="0.7"> </pair>

        <pair parameter="nb_sources" value="2"> </pair>

        <pair parameter="nb_iterations" value="10"> </pair>

        <pair parameter="loca_sensitivity" value="5"> </pair>
        
</categoryStructure>